<div class="card">
    {% if product.image != "" %}
        <img src="{{ asset('uploads/images/products/'~ product.image)}}" class="card-img-top" alt={{ product.name }}> 
    {% else %}
        <img src="{{ asset('uploads/images/products/article.png')}}" class="card-img-top" alt={{ product.name }}>
    
    {% endif %}
    
    <div class="card-body">
        <a class="product-title" href="{{ path('app_show_product', {id: product.id}) }}">
            <h6 class="card-title text-center text-primary ">{{product.name}}</h6>
        </a>
        <p class="card-text">{{ product.description }}</p>
        <a href="#" class="text-success">Ajouter au panier</a>
    </div> 
</div>