{% extends 'base.html.twig' %}

{% block title %}Products index{% endblock %}

{% block body %}
    <div class="container">
        {% include 'layouts/_flash_message.html.twig' %}
        <h1>Liste des produits</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description|slice(0, 50) }}</td>
                    <td>{{ product.price }}</td>
                    <td>
                        {% if product.stock > 0 %}  
                            {{ product.stock }}
                        {% else %}
                            <span class="text-danger text-center fw-bol">Stock épuisé</span>
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-outline-primary btn-sm" href="{{ path('app_products_show', {'id': product.id}) }}">Show</a>
                        <a class="btn btn-success btn-sm" href="{{ path('app_products_edit', {'id': product.id}) }}">Editer</a>
                        <a class="btn btn-outline-secondary btn-sm" href="{{ path('app_add_stock', {'productId': product.id}) }}">Ajout le stock</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Pas de produits à afficher</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('app_products_new') }}">Ajouter nouveau produit</a>
    </div>
    
{% endblock %}
