{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <div class="container">
        {% if categories|length > 0 %}
            {% include 'layouts/_flash_message.html.twig' %}
            <h2>Liste des catégories</h2>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom du catégorie</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <th scope="row">{{category.id}}</th>
                        <td>{{category.name}}</td>
                        <td>
                            <a href="{{ path('app_category_update', {'id': category.id}) }}" class="btn btn-success btn-sm">Modifier</a>
                            <a onclick="return confirm('Voulez-vous vraiment supprimer cette catégorie?');" href="{{ path('app_category_delete', {id: category.id}) }}" class="btn btn-danger btn-sm">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h2>Aucune catégorie est enrigistré pour le moment </h2> 
            {# <a href="{{ path('app_category_new') }}" class="text-success">Ajouter une catégorie</a>    #}
        {% endif %}
        <a href={{ path('app_category_new') }} class="btn btn-outline-secondary">Ajouter une catégorie</a>
    </div>
    
{% endblock %}
